/geomechinterp/__pycache__/
__pycache__/
/geomechinterp/data/
experiments/tensors/
/geomechinterp/scripts/profile_html/*
/lib/*
wandb/
mlruns/
logs/
gpt_rope_custom/
tokenized_train/
tokenized_test/
tokenized_val/
*.pyc
*.html
*.svg
*.png
.DS_Store
*.prof
*.pkl
*.pth.tar
*.json
